body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: green;
  text-align: center;
  color: white;
}

#minha_foto {
  width: 300px;
  position: absolute;
  display: block;
  top: 90px;
  left: 0;
  padding: 2%;
}

main {
  position: absolute;
  display: block;
  top: 470px;
  left: 0;
  padding: 3%;
}

.my-name {
  font-size: 35px;
  font-family: Georgia, Times, serif;
  font-style: italic bold;
  position: absolute;
  display: block;
  top: 380px;
  left: 0;
  padding: 3%;
}

footer {
  font-family: Georgia, Times, serif;
  position: absolute;
  display: block;
  top: 910px;
  left: 0;
  padding: 3%;
}
